<div class="form-group mb-4">
    <label for="title" class="font-weight-bold">Title:</label>
    <input type="text" name="title" id="title" class="form-control" value="<%= article.title %>" required />
</div>

<div class="form-group mb-4">
    <label for="description" class="font-weight-bold">Description:</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>

<div class="form-group mb-4">
    <label for="markdown" class="font-weight-bold">Markdown:</label>
    <textarea name="markdown" id="markdown" class="form-control" required><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>